.postList {
  ul {
    list-style-type: none;
    li {
      margin: 2rem;
      box-shadow: 0 0 20px 0 #494949;
      border-radius: 5px;
      padding: 1rem;

      p {
        font-size: 1rem;
      }


    }
  }
}
