.post {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;

  form {
    margin-bottom: 10rem;
    div {
      label {
        margin-top: 2rem;
        display: block;
        text-transform: uppercase;
      }
      input {
        padding: .2rem .5rem;
        margin-top: .5rem;
        width: 100%;
        font-size: 1.2rem;
        outline: none;
      }
      textarea {
        width: 100%;
        resize: vertical;
      }


    }

    img {
      margin-top: 2rem;
    }

    button {
      position: fixed;
      bottom: 2rem;
    }
  }
}
